*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.project
.gitignore
.settings/org.eclipse.buildship.core.prefs
.vscode/settings.json
app/.classpath
app/.settings/org.eclipse.buildship.core.prefs
